/* Bootstrap Overrides */
.form-control {
    margin-bottom: 5px;
}

/* Global Horizontal Lists */
ul.horizontal li {
    display:inline;
}

/* Cards */
.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  /*height: 300px;*/
  /*margin: 1rem;*/
  position: relative;
  /*width: 300px;*/

  cursor: pointer;
  margin-top: 15px;
  margin-right: 15px;

  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/* Button Row */
.btn-row {
    margin-right: 5px;
}

/* Navbar Settings Dropdown */
.dropdown-form-menu {
    padding: 15px;
    width: 500px;
}

/* Tags */
ul.tags {
    margin-top: 10px;
    padding: 0px;
}
.tags li {
    margin-right: 5px;
    float:left;
}

li.tag {
    margin-bottom: 15px;
}

/* Tags Sidebar */
ul#tags-list {
    padding: 0px;
}

/* Pivot Controls */
ul.pivot-control li {
    padding: 5px;
    cursor: pointer;
    list-style: none;
}

ul.pivot-control a {
    color: #337ab7;
}

ul.pivot-control a:focus, ul.pivot-control a:hover {
    color: #337ab7;
    text-decoration: none;
}

ul.pivot-control li.active {
    background-color: #ddd;
    text-decoration: none;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 52px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

/* New Document Button */
.new-document-button {
    padding-right: 15px;
    margin-right: 5px;
}

/* New Document Modal */
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
  height: 80%;
}

.modal-container {
  position: relative;
  width: 80%;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-footer {
  /*position:absolute;*/
  /*bottom: 0px;*/
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
