<html>

<head>
    <meta charset="utf-8">
    <title>Vue</title>
    <!-- CSS -->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="gitgraph.js/build/gitgraph.css">
    <link rel="stylesheet" href="css/custom.css">
</head>

<body>

    <!--  Templates -->
    <!-- Generic Modal Template -->
    <script type="text/x-template" id="modal-template">
        <transition name="modal">
            <div class="modal-mask">
                <div class="modal-wrapper">
                    <div class="modal-container">
                        <slot></slot>
                    </div>
                </div>
            </div>
        </transition>
    </script>

    <!-- New Tag Modal -->
    <script type="text/x-template" id="tag-modal">
        <modal>
            <div class="modal-header">
                <slot name="header">
                    default header
                </slot>
            </div>

            <div class="modal-body">
                <slot name="body">
                    <div v-if="errorMessage != ''" class="alert alert-danger" role="alert">{{errorMessage}}</div>
                    <input class="form-control" v-model="newTag.name" />

                    <button class="btn btn-small modal-default-button" @click="addTag()">
                        Add
                    </button>

                    <button class="btn btn-small btn-row modal-default-button" @click="close()">
                        Close
                    </button>
                </slot>
            </div>
        </modal>
    </script>

    <!-- Note Modal -->
    <script type="text/x-template" id="note-modal">
        <modal>
            <div class="modal-header">
                <slot name="header">
                    default header
                </slot>
            </div>

            <div class="modal-body">
                <slot name="body">
                    <!-- Error Message -->
                    <div v-if="errorMessage != ''" class="alert alert-danger" role="alert">{{errorMessage}}</div>

                    <!-- Revision Selector -->
                    <label class="form-label">
                        Version
                    </label>
                    <select v-model="doc.latestRevisionId" @change="showDifferentRevision">
                        <option v-for="revision in doc.revisions">
                            {{ revision }}
                        </option>
                    </select>

                    <br/>

                    <!-- Tags -->
                    <label class="form-label">
                        Tags
                    </label>

                    <input class="form-control" v-model="newTag.name" />
                    <!-- Add Tag Button -->
                    <button class="btn btn-small modal-default-button" @click="addTag()">
                        Add
                    </button>

                    <ul class="horizontal tags">
                        <li v-for="tag in doc.tags" class="tag">
                            <span class="label label-info">{{tag.name}}</span>
                        </li>
                    </ul>

                    <!-- Title -->
                    <label class="form-label">
                        Title
                        <input v-model="doc.title" class="form-control">
                    </label>

                    <!-- Body -->
                    <label class="form-label">
                        Body
                        <textarea v-model="doc.body" rows="5" class="form-control"></textarea>
                    </label>
                </slot>
            </div>

            <div class="modal-footer">
                <slot name="footer">
                    <button v-if="doc.isNewDocument" class="btn btn-small btn-row modal-default-button" @click="addDocument()">
                        Save
                    </button>
                    <button class="btn btn-small btn-row modal-default-button" @click="close()">
                        Close
                    </button>
                </slot>
            </div>
        </modal>
    </script>

    <!-- Navigation Bar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <a class="navbar-brand"></i> ThoughtStream</a>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-form-menu">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="github-repo-url" class="col-sm-2 control-label">Repo URL</label>
                                <div class="col-sm-10">
                                    <input v-model="githubRepoURL" type="text" class="form-control" id="github-repo-url" placeholder="Repo URL">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="github-email" class="col-sm-2 control-label">Username</label>
                                <div class="col-sm-10">
                                    <input v-model="githubUsername" type="text" class="form-control" id="github-email" placeholder="Username">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="github-password" class="col-sm-2 control-label">Password</label>
                                <div class="col-sm-10">
                                    <input v-model="githubPassword" type="password" class="form-control" id="github-password" placeholder="Password">
                                </div>
                            </div>

                            <a class="btn btn-primary" @click="authenticateWithGitHub()">Authenticate</a>

                        </form>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid" id="thoughstream">

        <!-- New Document Modal Content -->
        <note-modal v-show="showNoteModal" @close="showNoteModal = false" :doc.sync="selectedDoc">
            <h3 v-if="selectedDoc.title" slot="header">{{selectedDoc.title}}</h3>
            <h3 v-else slot="header">New Note</h3>
        </note-modal>
        <!-- End New Document Modal Content -->

        <!-- Tag Modal Content -->
        <tag-modal v-show="showTagModal" @close="showTagModal = false">
            <h3 slot="header">New Tag</h3>
        </tag-modal>
        <!-- End Tag Modal Content -->

        <!--  Sidebar -->
        <div class="col-sm-3 col-md-2 sidebar">
            <div class="col-sm-10 col-md-11">
                <button class="btn btn-block btn-sm btn-info btn-round" id="-gg-new-tag-button" @click="openNewTagModal()"> New Tag </button>
            </div>
            <br/>
            <h3 class="-gg-sidebar-header">Tags</h3>
            <ul id="tags-list" class="pivot-control">
                <li v-for="tag in allTags" :class="isTagActive(tag)" @click="showDocumentsByTag(tag)" ><a href="#">{{tag.name}}</a></li>
            </ul>
        </div>
        <!--  End sidebar -->

        <!-- Main Window  -->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
            <!-- Begin Row -->
            <div class="row">
                <!-- New Document Button -->
                <div class="col-md-3 btn-group">
                    <button type="button" class="btn btn-success dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">New</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#" @click="openNewNoteModal()">New Note</a>
                        <a class="dropdown-item" href="#" @click="openNewNoteModal()">New Essay</a>
                    </div>
                </div>
                <!-- End New Document Button -->

                <!-- Content Filter Buttons -->
                <ul id="document-filters" class="pivot-control col-md-3 col-md-offset-2 horizontal">
                    <li :class="isFilterActive('all')"><a href="#" @click="showAll()">All</a></li> |
                    <li :class="isFilterActive('notes')"><a href="#" @click="showNotes()">Notes</a></li> |
                    <li :class="isFilterActive('essays')"><a href="#" @click="showEssays()">Essays</a></li>
                </ul>
                <!--  End Content Filter Buttons -->

                <!-- Show Git Graph Button -->
                <div class="col-md-2 text-right">
                    <button @click="showGitGraph()" type="button" class="btn btn-info">
                        <span class="glyphicon glyphicon-random" aria-hidden="true"></span>
                        Git
                    </button>
                </div>
                <!-- End Show Git Graph Button -->

                <!-- Temp auth button -->
                <div class="col-md-2 text-right">
                    <a class="btn btn-primary" @click="authenticateWithGitHub()">Authenticate</a>
                </div>

            </div>
            <!-- End Row -->

            <!-- Document Tiles -->
            <div class="row document-group">
                <div class="card col-md-3" v-for="doc in visibleDocuments" @click="showDocument(doc, selectedTag.id)">
                    <!-- New Document Modal Content -->
                    <h5>{{doc.title}}</h5>
                    <p class="small">{{getDocumentPreviewText(doc.body)}}</p>
                    <p class="small">{{doc.date}}</p>
                </div>
            </div>
            <!--  End Document Tiles-->

        </div>
    </div>

    <!-- JS -->
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="node_modules/vue-resource/dist/vue-resource.js"></script>
    <script src="node_modules/github-api/dist/GitHub.bundle.min.js"></script>
    <script src="gitgraph.js/build/gitgraph.min.js"></script>
    <script src="app.js"></script>
</body>

</html>
