/* SIDEBAR */
.sidebar {
    position: fixed;
    top: 71px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

/* TAGS */
.-gg-sidebar-header:first-of-type {
    margin-top: 45px;
    color: #2c3e50;
}

.-gg-tag {
    margin-left: 15px;
}

.-gg-tag:hover {
    opacity: 0.6;
    cursor: pointer;
}

.-gg-tag.active {
    color: blue;
}

/* NEW TAGS */
.-gg-new-tag h6 {
    display: none;
}

/* CONTENT PICKER VIEW */

/* SECTION GROUP */
.-gg-section-group li {
    width: 75px;
    text-align: center;
}

/* CONTENT CARDS */
.-gg-content-cards {
    margin-top: 5px;
}

.card {
    cursor: pointer;
}

.card h5, .card p, .card span {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

/* EDITOR */
.-gg-editor-title {
    margin-bottom: 10px;

}

.-gg-editor-tag-div {
    margin-bottom: 30px;
}
