html, body {
    width: 200px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.toggle {
    cursor: pointer;
    color: blue;
}

.container-fluid {
    margin-right: 10px;
}

.streams-list {
    padding: 0px;
}

.streams-list li {
    margin-top: 5px;
    list-style: none;
    color: #1d71c8;
    cursor: pointer;
}
